*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

body 
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    /* background-image: linear-gradient(90deg, rgb(0, 0, 255) 0%, rgb(0, 128, 255)); */
    /* background-image: linear-gradient(0deg,#2c3e50,  #4ca1af) */

}


header 
{
    display: flex;

    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    /* background-color: #f8f9fa; */
    /* background-image: linear-gradient(90deg,rgb(0,0,255) 0%, rgb(0,128,255)); */
    padding: 20px;
    text-align: center;
}

header.special 
{
    background-color: black;
    border-radius: 10px;
    color: white;

}
header.special a a:visited
{
    color:red
    
}

nav 
{
    display: grid;
       justify-content: space-evenly;
       align-items: space-evenly;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
}
nav ul 
{
    list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 20px;
}

button 
{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

main{
display: grid;
}


section 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    margin: 20px 10px;
    padding: 20px;
    
    box-sizing: border-box;
}

footer 
{
    text-shadow: 1px 1px 2px black;  
    color: rgb(0,0,0);
    /* background-color: #f8f9fa; */
    padding: 20px;
    position: sticky;
        bottom: 0;
}



